<!DOCTYPE html>
<html>
  <head>
    <title>NetDeckV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </header>

  <body>
    <div id="app"></div>
  </body>
</html>
